.section-header{
  display: flex;
  justify-content: space-around;
}

thead{
  background-color: rgba(0, 0, 0, 0.098);

}
th {
  padding: 4px;

}
table {
  font-size: 10px;
  box-shadow: 2px 2px 8px black;
  border: 2px solid rgb(0, 0, 0);
}
#name{
  width: 5rem;
}