.section1 {
  display: flex;
  align-items: center;
  border: 1px solid rgba(130, 126, 126, 0.098);
}
.dataName {
    display: flex;
    align-items: center;
  font-weight: bold;
  font-size: 12px;
}

.data-img {
  width: 2.5rem;
  margin-right: 10px;
}

.organiz {
}

.attacks {
  width: 15px;
}

.status {
}

.summary {
}
